.centrado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja {
    width: 50%;
    background-color: black;
    border: 5px solid rgb(114, 98, 98);
    color: #fff;
}

.parrafo {
    margin: 15px;
    font-weight: bold;
    font-size: 17px;
} 